In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Activation,Dropout,Dense

/home/phantom/.conda/envs/deep/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [3]:
train = pd.read_csv('train.csv',index_col = 0)

train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train = train.drop(['Name','SibSp','Age','Parch','Embarked','Ticket','Fare','Cabin'],axis =1)
train.head()

             Survived  Pclass     Sex
PassengerId
1                   0       3    male
2                   1       1  female
3                   1       3  female
4                   1       1  female
5                   0       3    male

In [5]:
d={'male':0,'female':1}
train.Sex=train.Sex.map(d)

train.head()

             Survived  Pclass  Sex
PassengerId
1                   0       3    0
2                   1       1    1
3                   1       3    1
4                   1       1    1
5                   0       3    0

In [6]:
x_train=np.array(train[['Sex','Pclass']])
print(x_train.shape)

(891, 2)

In [7]:
y_train = np.array(train['Survived'].tolist())
y_train = np.reshape(y_train,(len(y_train),1))
print('Output shape of training data is ',y_train.shape)
print(y_train[:10])

Output shape of training data is  (891, 1)
[[0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]]

In [8]:
model = Sequential([
    Dense(20, input_shape=(2,)),
    Activation('relu'),
    Dense(10),
    Activation('relu'),
    Dense(5),
    Activation('relu'),
    Dense(1),
    Activation('sigmoid')
])

model.compile(loss='binary_crossentropy',
              optimizer='rmsprop',
              metrics=['accuracy'])

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 20)                60
_________________________________________________________________
activation_1 (Activation)    (None, 20)                0
_________________________________________________________________
dense_2 (Dense)              (None, 10)                210
_________________________________________________________________
activation_2 (Activation)    (None, 10)                0
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 55
_________________________________________________________________
activation_3 (Activation)    (None, 5)                 0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 6
_________________________________________________________________
activation_4 (Activation)    (None, 1)                 0
=================================================================
Total params: 331
Trainable params: 331
Non-trainable params: 0
_________________________________________________________________

In [9]:
model.fit(x_train, y_train,
          validation_split = 0.2,
          epochs=50,
          batch_size=30,
          )

Train on 712 samples, validate on 179 samples
Epoch 1/50
712/712 [==============================] - 1s 2ms/step - loss: 0.7725 - acc: 0.6096 - val_loss: 0.6511 - val_acc: 0.6425
Epoch 2/50
712/712 [==============================] - 0s 50us/step - loss: 0.6727 - acc: 0.6096 - val_loss: 0.6199 - val_acc: 0.6425
Epoch 3/50
712/712 [==============================] - 0s 58us/step - loss: 0.6449 - acc: 0.6096 - val_loss: 0.5961 - val_acc: 0.6425
Epoch 4/50
712/712 [==============================] - 0s 55us/step - loss: 0.6198 - acc: 0.6096 - val_loss: 0.5708 - val_acc: 0.6425
Epoch 5/50
712/712 [==============================] - 0s 49us/step - loss: 0.5972 - acc: 0.6306 - val_loss: 0.5595 - val_acc: 0.7598
Epoch 6/50
712/712 [==============================] - 0s 52us/step - loss: 0.5799 - acc: 0.7037 - val_loss: 0.5526 - val_acc: 0.8156
Epoch 7/50
712/712 [==============================] - 0s 58us/step - loss: 0.5678 - acc: 0.7289 - val_loss: 0.5330 - val_acc: 0.8156
Epoch 8/50
712/712 [==============================] - 0s 39us/step - loss: 0.5562 - acc: 0.7739 - val_loss: 0.5192 - val_acc: 0.8156
Epoch 9/50
712/712 [==============================] - 0s 45us/step - loss: 0.5480 - acc: 0.7795 - val_loss: 0.5171 - val_acc: 0.8156
Epoch 10/50
712/712 [==============================] - 0s 53us/step - loss: 0.5392 - acc: 0.7795 - val_loss: 0.5015 - val_acc: 0.8156
Epoch 11/50
712/712 [==============================] - 0s 42us/step - loss: 0.5294 - acc: 0.7781 - val_loss: 0.4932 - val_acc: 0.8156
Epoch 12/50
712/712 [==============================] - 0s 43us/step - loss: 0.5208 - acc: 0.7893 - val_loss: 0.4865 - val_acc: 0.7989
Epoch 13/50
712/712 [==============================] - 0s 49us/step - loss: 0.5136 - acc: 0.7851 - val_loss: 0.4847 - val_acc: 0.7989
Epoch 14/50
712/712 [==============================] - 0s 51us/step - loss: 0.5092 - acc: 0.7837 - val_loss: 0.4777 - val_acc: 0.7989
Epoch 15/50
712/712 [==============================] - 0s 47us/step - loss: 0.5063 - acc: 0.7837 - val_loss: 0.4738 - val_acc: 0.7989
Epoch 16/50
712/712 [==============================] - 0s 41us/step - loss: 0.5030 - acc: 0.7837 - val_loss: 0.4707 - val_acc: 0.7989
Epoch 17/50
712/712 [==============================] - 0s 64us/step - loss: 0.4997 - acc: 0.7837 - val_loss: 0.4679 - val_acc: 0.7989
Epoch 18/50
712/712 [==============================] - 0s 54us/step - loss: 0.4972 - acc: 0.7837 - val_loss: 0.4655 - val_acc: 0.7989
Epoch 19/50
712/712 [==============================] - 0s 59us/step - loss: 0.4953 - acc: 0.7837 - val_loss: 0.4633 - val_acc: 0.7989
Epoch 20/50
712/712 [==============================] - 0s 51us/step - loss: 0.4921 - acc: 0.7837 - val_loss: 0.4613 - val_acc: 0.7989
Epoch 21/50
712/712 [==============================] - 0s 57us/step - loss: 0.4908 - acc: 0.7837 - val_loss: 0.4640 - val_acc: 0.7989
Epoch 22/50
712/712 [==============================] - 0s 36us/step - loss: 0.4903 - acc: 0.7837 - val_loss: 0.4592 - val_acc: 0.7989
Epoch 23/50
712/712 [==============================] - 0s 58us/step - loss: 0.4875 - acc: 0.7837 - val_loss: 0.4641 - val_acc: 0.7989
Epoch 24/50
712/712 [==============================] - 0s 52us/step - loss: 0.4882 - acc: 0.7837 - val_loss: 0.4561 - val_acc: 0.7989
Epoch 25/50
712/712 [==============================] - 0s 53us/step - loss: 0.4864 - acc: 0.7837 - val_loss: 0.4543 - val_acc: 0.7989
Epoch 26/50
712/712 [==============================] - 0s 55us/step - loss: 0.4853 - acc: 0.7837 - val_loss: 0.4527 - val_acc: 0.7989
Epoch 27/50
712/712 [==============================] - 0s 56us/step - loss: 0.4838 - acc: 0.7837 - val_loss: 0.4531 - val_acc: 0.7989
Epoch 28/50
712/712 [==============================] - 0s 47us/step - loss: 0.4835 - acc: 0.7837 - val_loss: 0.4510 - val_acc: 0.7989
Epoch 29/50
712/712 [==============================] - 0s 56us/step - loss: 0.4814 - acc: 0.7837 - val_loss: 0.4486 - val_acc: 0.7989
Epoch 30/50
712/712 [==============================] - 0s 52us/step - loss: 0.4806 - acc: 0.7837 - val_loss: 0.4484 - val_acc: 0.7989
Epoch 31/50
712/712 [==============================] - 0s 52us/step - loss: 0.4807 - acc: 0.7837 - val_loss: 0.4466 - val_acc: 0.7989
Epoch 32/50
712/712 [==============================] - 0s 48us/step - loss: 0.4795 - acc: 0.7837 - val_loss: 0.4464 - val_acc: 0.7989
Epoch 33/50
712/712 [==============================] - 0s 46us/step - loss: 0.4777 - acc: 0.7837 - val_loss: 0.4438 - val_acc: 0.7989
Epoch 34/50
712/712 [==============================] - 0s 60us/step - loss: 0.4773 - acc: 0.7837 - val_loss: 0.4430 - val_acc: 0.7989
Epoch 35/50
712/712 [==============================] - 0s 60us/step - loss: 0.4749 - acc: 0.7837 - val_loss: 0.4418 - val_acc: 0.7989
Epoch 36/50
712/712 [==============================] - 0s 71us/step - loss: 0.4753 - acc: 0.7837 - val_loss: 0.4399 - val_acc: 0.7989
Epoch 37/50
712/712 [==============================] - 0s 60us/step - loss: 0.4727 - acc: 0.7837 - val_loss: 0.4472 - val_acc: 0.7989
Epoch 38/50
712/712 [==============================] - 0s 51us/step - loss: 0.4755 - acc: 0.7837 - val_loss: 0.4421 - val_acc: 0.7989
Epoch 39/50
712/712 [==============================] - 0s 49us/step - loss: 0.4726 - acc: 0.7837 - val_loss: 0.4376 - val_acc: 0.7989
Epoch 40/50
712/712 [==============================] - 0s 55us/step - loss: 0.4722 - acc: 0.7837 - val_loss: 0.4368 - val_acc: 0.7989
Epoch 41/50
712/712 [==============================] - 0s 59us/step - loss: 0.4718 - acc: 0.7837 - val_loss: 0.4361 - val_acc: 0.7989
Epoch 42/50
712/712 [==============================] - 0s 51us/step - loss: 0.4714 - acc: 0.7837 - val_loss: 0.4353 - val_acc: 0.7989
Epoch 43/50
712/712 [==============================] - 0s 55us/step - loss: 0.4706 - acc: 0.7837 - val_loss: 0.4347 - val_acc: 0.7989
Epoch 44/50
712/712 [==============================] - 0s 56us/step - loss: 0.4699 - acc: 0.7837 - val_loss: 0.4343 - val_acc: 0.7989
Epoch 45/50
712/712 [==============================] - 0s 65us/step - loss: 0.4694 - acc: 0.7837 - val_loss: 0.4336 - val_acc: 0.7989
Epoch 46/50
712/712 [==============================] - 0s 69us/step - loss: 0.4688 - acc: 0.7837 - val_loss: 0.4341 - val_acc: 0.7989
Epoch 47/50
712/712 [==============================] - 0s 54us/step - loss: 0.4679 - acc: 0.7823 - val_loss: 0.4320 - val_acc: 0.7989
Epoch 48/50
712/712 [==============================] - 0s 51us/step - loss: 0.4664 - acc: 0.7809 - val_loss: 0.4332 - val_acc: 0.7989
Epoch 49/50
712/712 [==============================] - 0s 47us/step - loss: 0.4672 - acc: 0.7837 - val_loss: 0.4299 - val_acc: 0.7989
Epoch 50/50
712/712 [==============================] - 0s 46us/step - loss: 0.4654 - acc: 0.7837 - val_loss: 0.4365 - val_acc: 0.7989

In [10]:
test = pd.read_csv('test.csv',index_col = 0)
test = test.drop(['Name','SibSp','Age','Parch','Embarked','Ticket','Fare','Cabin'],axis =1)
#train.dropna(subset=['Age'], inplace=True)
test.head()

             Pclass     Sex
PassengerId
892               3    male
893               3  female
894               2    male
895               3    male
896               3  female

In [11]:
d={'male':0,'female':1}
test.Sex=test.Sex.map(d)

test.head()

             Pclass  Sex
PassengerId
892               3    0
893               3    1
894               2    0
895               3    0
896               3    1

In [12]:
x_test=np.array(test[['Sex','Pclass']])
print(x_test.shape)

(418, 2)

In [14]:
y = model.predict(x_test)
y_test = []
for each in y:
    if each<0.5:
        each = 0
    else:
        each = 1
    y_test.append(each)   
pid = []
for i in range(0,len(y_test)):
    pid.append(i+892)
data = {'PassengerId' : pid,
          'Survived' :y_test
          }
result= pd.DataFrame(data)
result.set_index('PassengerId',inplace = True)
result.head(10)

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1
897                 0
898                 1
899                 0
900                 1
901                 0

In [14]:
result.to_csv('Result.csv')